$main-color: #070707;
$nav-list-border-color: #828282;
$nav-link-color: #828282;
$nav-link-hover-color: #070707;
$nav-link-active-color: #070707;
$about-me-background-color: #f6f6f6;
$skill-card-text-color: #828282;
$portfolio-background-color: #f6f6f6;
$md-device-max-size: 991px;
$sm-device-max-size: 767px;
$xs-device-max-size: 575px;
$small-screen-max-size: 480px;
$ext-small-screen-max-size: 360px;
